<header>
    <h1>{{title}}</h1>

   
    <a href="/" , class="nav-links">Weather</a>
    <a href="/about" , class="nav-links">About</a>
    <a href="/help" , class="nav-links">Help</a>
    
</header>
